@import url('https://fonts.googleapis.com/css?family=Pacifico');

page-login {

    ::-webkit-input-placeholder { text-align:right; }
    ::-webkit-select-placeholder { text-align:right; }

    /* mozilla solution */
    input:-moz-placeholder { text-align:right; }
    select:-moz-placeholder { text-align:right; }
    placeholder{
      text-align: right
    }
      .invalid {
        border-bottom: 1px solid #FF6153;
      }


      ion-input{
        max-width: 333px;
        max-height: 54px;
        color: #000;
        margin: 20px;
        padding: 6px;
        border: 1px solid #487EB0
      }

      .login-logo {
        flex: 0;
      }

      .create-account {
        color: #95989A;
        text-decoration: underline;
        background: none;
        font-size: 16px;
      }

      .login-button {
        margin:20px;
        max-width: 333px;
        max-height: 57px;
      }



  }




